.app-header {
  align-items: center;
  background: @color-white;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex: none;
  height: 6rem;
  padding: 0 1 0 10;
  z-index: 1;
  margin-left: 8rem;
  justify-content: space-between;
}

.app-header__item {
  display: flex;
  justify-content: center;
  color: @color-primary;
  padding: .4rem;
  min-width: 75px;
  text-align: center;
}

.app-header__title {
  font-size: 2rem;
}

.app-header__logo {
  font-size: 2rem;
}

.app-header__login {
  width: 75px;
  cursor: pointer;
}

.app-header-navigation {
  font-size: 1.6rem;
  cursor: pointer;
}

#app-header-navigation-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  color: white;
}
