@media (max-width: @screen-sm) {
  .app-header {
    margin-left: 0;
  }
  .app-content {
    margin-left: 0;
  }
  .app-navigation {
    display: none;
  }
  .u-sm-h {
    display: none;
  }
  .u-sm-s {
    display: block;
  }
}

@media (min-width: @screen-sm) {
  .u-sm-s {
    display: none;
  }
}
