.app-navigation {
  display: flex;
  justify-content: center;
  height: 5rem;
  align-items: center;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.15);
  div {
    width: 20rem;
    text-align: center;
  }
}
